* {
  font-weight: 100 !important;
}

.bold, .bold * {
  font-weight: 400 !important;
}

.no-shadow {
  box-shadow: none !important;
}

#root {
  height: 100%;
}

.ui.breadcrumb a {
  color: rgba(255, 255, 255, 0.75) !important;
}

.ui.breadcrumb a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.hidden {
  display: none !important;
}

.ui.selection.list.list > .item:hover, .ui.selection.list > .item:hover {
  background: rgba(0, 0, 0, 0.05);
}
