* {
  font-weight: 100 !important;
}

table.hover tbody tr:hover, table thead tr:hover {
  cursor: pointer;
}

.bold, .bold * {
  font-weight: 400 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.ui.right.labeled.huge.fluid.button {
  padding-right: 4.07142857em !important;
}

#root {
  height: 100%;
}

.ui.breadcrumb a {
  color: rgba(255, 255, 255, 0.75) !important;
}

.ui.breadcrumb a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.hidden {
  display: none !important;
}

.ui.selection.list.list > .item:hover, .ui.selection.list > .item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.ui.inverted.dark.blue.segment {
  background-color: #1E76B9 !important;
}

.ui.inverted.button {
  box-shadow: 0 0 0 1px #FFF inset!important
}

.nav-bar .right.menu .item:last-child {
  padding-right: 0 !important;
}

.ui.inverted.form label {
  color: white !important;
}

.ui.range .inner {
  margin: 0;
}
