* {
  font-weight: 100 !important;
}

.thumbnail.image.content {
  cursor: pointer;
}

.fc-unthemed td.fc-today {
  background: #f5f5f5;
}

.ui.selection.dropdown > .menu {
  max-height: 200px;
}

.ui.button.disabled.tooltip {
  pointer-events: auto !important;
}

.ui.button.disabled.tooltip:hover {
  background: 0 0;
  color: #FFF;
  text-shadow: none !important;
  box-shadow: 0 0 0 1px #FFF inset !important;
}

.ui.menu .header.item:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: rgba(34,36,38,.1);
}

.nav-bar .hamburger.item {
  display: none !important;
  cursor: pointer
}

@media only screen and (max-width: 1000px) {
  .nav-bar .item,
  .nav-bar .right.menu {
    display: none !important;
  }

  .nav-bar .hamburger.item {
    display: block !important;
  }
}

.fc-content {
  cursor: pointer;
}

.terms p,
.description p {
  margin: 0;
}

.sub.header .labels > .label:first-child {
  margin-left: 0 !important;
}

.sub.header .labels {
  padding-top: 0.5em;
}

.editor {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  line-height: 1.2142em;
  padding: .67861429em 1em;
  font-size: 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  min-height: 250px;
  max-height: 500px;
  overflow: auto;
  cursor: text;
}

.thumbnail {
  background-size: cover !important;
  background-position: center !important;
}

.ui.label {
  margin-bottom: 0 !important;
}

.ui.cards {
  margin-bottom: 0;
}

.fc-day:hover {
  cursor: pointer;
}

.fc button {
  height: inherit !important;
  line-height: inherit !important;
}

table.hover tbody tr:hover, table thead tr:hover {
  cursor: pointer;
}

.bold, .bold * {
  font-weight: 400 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.ui.right.labeled.huge.fluid.button {
  padding-right: 4.07142857em !important;
}

#root {
  height: 100%;
}

.ui.breadcrumb a {
  color: rgba(255, 255, 255, 0.75) !important;
}

.ui.breadcrumb a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.hidden {
  display: none !important;
}

.ui.selection.list.list > .item:hover, .ui.selection.list > .item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.ui.inverted.dark.blue.segment, .dark.blue.label {
  background-color: #1E76B9 !important;
}

.ui.inverted.button {
  box-shadow: 0 0 0 1px #FFF inset!important
}

.nav-bar .right.menu .item:last-child {
  padding-right: 0 !important;
}

.ui.inverted.form label {
  color: white !important;
}

.ui.range .inner {
  margin: 0;
}

.conversation .item .header {
  font-size: 0.75em;
}

.ui.message p {
  font-size: 1em;
}

p {
  font-size: 1.5em;
}

.inverted a {
  color: rgba(255, 255, 255, 0.75) !important;
}

.inverted a:hover {
  color: white !important;
}

.inverted a.ui.label:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.inverted a.ui.label {
  color: rgba(0, 0, 0, 0.6) !important;
}
